.cloud{
    display: flex;
    justify-content: center;
    align-items: center;
    gap:50px;
}
.cloud__content{
    width: 500px;
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 50px;
}
.cloud__top{
    display: flex;
    align-items: center;
    gap: 10px;
}
#top-line{
    width: 50px;
    height: 1px;
    background-color: rgba(87, 214, 255, 1);
}
#cloud__title{
    font-size: 16px;
    font-weight: 300;
    color: rgba(87, 214, 255, 1);
}
.cloud__content p{
    font-family: "Roboto", sans-serif;
    font-size: 21px;
    font-weight: 300;
    color: rgba(171, 171, 171, 1);
}
.cloud__content h2{
    font-family: "Aire Exterior", sans-serif;
    font-size: 48px;
    font-weight: 400;
    color: rgb(255, 255, 255);
}
.cloud__content a{
    text-decoration: none;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-weight: 500;
    color: rgba(87, 214, 255, 1);
    padding: 5px 3px; 
    border-bottom: 1px solid rgba(0, 197, 255, 1);
}   